<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="media/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="media/styles.css">
    
    

</head>

<body>
    <header>
        FinT₹ack
    </header>
    <nav class="nav-1">
        <ul class="ul">
            <a href="/">HOME</a>
        </ul>
        <ul>
            <a href="/login">lOG IN</a>
        </ul>
        <ul class="ul">
            <a href="/signup">SIGN UP</a>
        </ul>
        <ul>
            <a href="">ABOUT US</a>
        </ul>
        <ul>
            <label>SEARCH :</label>
            &nbsp;
            <input type="search" placeholder="    Search FinT₹ack  ">
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!--
        <ul>
            &nbsp;<a href="#"><img src="circle-phone.png" width="25px"></a>
            &nbsp;&nbsp;&nbsp;<a href="#"><img src="linkedin.png" width="25"></a>
            &nbsp;&nbsp;&nbsp;<a href="#"><img src="instagram.png" width="25"></a>
            &nbsp;&nbsp;&nbsp;<a href="#"><img src="facebook.png" width="25"></a>
            &nbsp;&nbsp;&nbsp;<a href="#"><img src="gmail.png" width="25"></a>
        </ul>
    -->
    </nav>

    <div class="main-page">
        <ul class="ul">
            <div class="icon-bar" id="left-half">
                <div class="in-nav">
                    <h2 style="font-size:xxx-large;">Dashboard</h2>
                    <img src="media/www.jpg" width="100px" height="100px">
                    <!--
                    <div class="Profile">
                        <img src="img.png" />
                        <input type="file" />
                    </div>
                    -->
                    <p style="font-size: 20px;">Profile</p>
                    <div class="dash">

                        <a class="active" href="/categories">
                            <li class="li">Categories</li>
                        </a>
                        <a href="/budget">
                            <li>Budget</li>
                        </a>
                        <a href="/expenseprediction">
                            <li>Expense Prediction</li>
                        </a>
                        <!--<a href="#">
                            <li>Accounts</li>
                        </a>-->
                        <a href="/generatereport">
                            <li>Generate Report</li>
                        </a>
                        <a href="/analysis">
                            <li>Analysis</li>
                        </a>

                    </div>

                </div>

                <button><a class="logout" href="/logout">Log out</a></button>
                <div class="un-log">Create a new acc with Email id</div>
        </ul>

        <div class="r-dash">
            
            <ul class="r-ul">
                <div>
                    <iframe title="financetracker_sheet3.pbix" width="1000" height="700" src="https://app.powerbi.com/reportEmbed?reportId=b4a192f6-d65b-442a-b285-37c4e9f0e241&autoAuth=true&ctid=f0a8329b-38c9-42b7-8a92-fcf7b2ac367b" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </ul>
        </div>



        <!--<img src="E-commerce.jpg" width="1200px">-->




    </div>

    <!--

    <div class="right-side">
        <ul class="ul">

        </ul>
    </div>



    <footer>
        <div class="col-1">
            <div class="col-11">
                <div class="col-12">
                    hii
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="col-21">
                <div class="col-22">
                    hii
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-31">
                <div class="col-32">
                    hii
                </div>
            </div>
        </div>


    </footer>

-->

    <div class="con">
        <h3>Contact us : fintrack@gmail.com</h3>
    </div>


</body>

</html>